@import url("https://fonts.googleapis.com/css2?family=Maiden+Orange&display=swap");
:root {
  --font: 400 4.5cqi "Maiden Orange", serif;
  --fz-s:	4.5cqi;
  --fz-m:	5.5cqi;
  --fz-l:	9cqi;
  --fz-xl:	12cqi;
  --fruit-r:	5cqi;
  --primary-darkest:	#552b0399;
  --primary-mid:	darkorange;
  --primary:	orange;
  --primary-o:	#ef8c0b80;
  --primary-light-o:	#7c3a03cc;
  --secondary-dark:	maroon;
  --secondary:	orangered;
  --secondary-o:	#ff4400cc;
  --secondary-light:	#ff6600;
  --tertiary-dark:	darkgreen;
  --tertiary-mid:	green;
  --tertiary:	limegreen;
  --n-darkest:	#1c1d1b;
  --n-darkest-o:	#1c1d1baa;
  --n-lightest-o:	#fffa;
  --text-shadow: 1cqi 1cqi 3cqi var(--n-darkest-o);
  --button-shadow: 1cqi 1cqi 3cqi var(--primary-light-o);
  --fruit-shadow: .25cqi .75cqi 2cqi var(--primary-darkest);
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--n-darkest);
  color: #fff;
  display: grid;
  font: var(--font);
  font-style: normal;
  min-height: 100vh;
  place-items: center;
}

body::after {
  content: url("pop.svg");
  height: 0;
  overflow: hidden;
  position: absolute;
  width: 0;
  z-index: -1;
}

.gameContainer {
  animation: open 3s forwards;
  aspect-ratio: 1;
  background-image: url("background.jpg");
  background-size: cover;
  background-position: 50% 0%;
  background-position-x: 50%;
  background-position-y: 0%;
  border-radius: 16px;
  container-type: inline-size;
  opacity: 0;
  outline: 2px solid #fff;
  overflow: hidden;
  position: relative;
  transition: all 1s;
  width: 80vmin;
}
@keyframes open {
  to {
    opacity: 1;
  }
}
.gameContainer:has(#game:checked) {
  animation: treeShake 0.1s 1.5s ease-in-out alternate 8;
  background-size: 125%;
  background-position-y: 100%;
}
@keyframes treeShake {
  from {
    background-position-x: 45%;
  }
  to {
    background-position-x: 55%;
  }
}

form {
  counter-reset: score oranges apples;
}

input[name=screen] {
  display: none;
}
input[name=screen]#start:checked ~ .screen-start, input[name=screen]#info:checked ~ .screen-info, input[name=screen]#game:checked ~ .screen-game, input[name=screen]#end:checked ~ .screen-end {
  opacity: 1;
  pointer-events: revert;
}
input[name=screen]#info:checked ~ .screen-info:has(.button-label:checked) {
  opacity: 0;
}
input[name=screen]#game:checked ~ .screen-game :where(.orange, .apple) {
  animation: drop 2.5s var(--delay, 0s) ease-in forwards var(--playState, running);
}
@keyframes drop {
  to {
    translate: var(--translateX, 10cqi) 60cqi;
  }
}
input[name=screen]#game:checked ~ .screen-game .apple {
  animation-duration: 3s;
}
input[name=screen]#game:checked ~ .screen-game .gui {
  animation: gui 0.5s 29.5s forwards;
}
@keyframes gui {
  to {
    translate: 0 100%;
  }
}
input[name=screen]#game:checked ~ .screen-game .gui .timer span::before {
  animation: countdown 100s -70s step-end;
}
input[name=screen]#game:checked ~ .screen-game .gui .timer span::after {
  animation: countdown 10s 3 step-end;
}
input[name=screen]#game:checked ~ .screen-end {
  animation: screenEnd 0.4s 29.5s forwards;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}
@keyframes screenEnd {
  to {
    opacity: 1;
    pointer-events: revert;
  }
}

.screen {
  align-content: center;
  display: grid;
  gap: 5cqi;
  inset: 0;
  opacity: 0;
  position: absolute;
  place-items: center;
  pointer-events: none;
  transition: opacity 400ms;
}
.screen-start .orange:first-child {
  translate: 23cqi -27cqi;
  scale: 0.9;
  animation: dance 1s infinite alternate ease-in-out;
}
.screen-start .orange:nth-child(2) {
  translate: -22cqi -12cqi;
  rotate: -20deg;
  animation: dance 1s 0.6s infinite alternate ease-in-out;
}
.screen-start .orange:nth-child(n+3) {
  animation: drop 0.4s 1s ease-in;
  translate: var(--translateX) -60cqi;
}
.screen-start .orange:nth-child(3) {
  --translateX: 10cqi;
}
.screen-start .orange:nth-child(4) {
  --translateX: -35cqi;
  animation-delay: 1.5s;
}
.screen-start .orange:nth-child(5) {
  --translateX: 5cqi;
  animation-delay: 2.5s;
}
@keyframes dance {
  from {
    rotate: 25deg;
  }
  to {
    rotate: -23deg;
  }
}
.screen-info {
  background-color: var(--n-darkest-o);
  padding: 10cqi;
}
.screen-info p {
  font-size: var(--fz-s);
}
.screen-end {
  background-color: var(--n-lightest-o);
  color: var(--n-darkest);
  font-size: var(--fz-m);
  text-align: center;
}
.screen-end p:first-child {
  font-size: var(--fz-xl);
}
.screen-end p:last-child {
  font-size: var(--fz-l);
}
.screen-end p:first-child,
.screen-end p.bad {
  margin-bottom: 2cqi;
}
.screen-end span {
  color: var(--color);
}
.screen-end .good {
  --color: var(--primary-mid);
}
.screen-end .good .result::after {
  content: counter(oranges);
}
.screen-end .bad {
  --color: var(--tertiary-dark);
}
.screen-end .bad .result::after {
  content: counter(apples);
}
.screen-end .total {
  --color: var(--secondary);
}
.screen-end .total .result::after {
  content: counter(score);
}

h1 {
  font-size: var(--fz-xl);
  letter-spacing: 0.1cqi;
  text-shadow: var(--text-shadow);
  transform: skewY(-5deg);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.buttons {
  display: flex;
  gap: 5cqi;
}

.button-label {
  border: max(0.5cqi, 2px) solid var(--primary-o);
  border-radius: 2cqi;
  box-shadow: var(--button-shadow);
  font-family: var(--ff-base);
  font-size: var(--fz-m);
  background-color: var(--primary-o);
  color: #fff;
  padding: 4cqi 8cqi;
  scale: 1;
  transform: skewY(-5deg);
  transition: scale 200ms;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.button-label:hover {
  cursor: pointer;
  scale: 1.1;
}

.screen-info .button-label {
  padding: 3cqi 7cqi;
}

.screen-end .button-label {
  background-color: var(--secondary-o);
  border-color: var(--secondary);
}

.oranges, .apples {
  position: absolute;
  inset: 50%;
}

.orange, .apple {
  --popTime: 0s;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  box-shadow: var(--fruit-shadow);
  position: absolute;
}
.orange::before, .orange::after, .apple::before, .apple::after {
  aspect-ratio: 1;
  background-image: radial-gradient(at top left, var(--tertiary-mid), var(--tertiary));
  border-radius: 0 100%;
  content: "";
  left: 50%;
  top: 10%;
  transform-origin: top left;
  position: absolute;
  rotate: 170deg;
  width: 40%;
  transition: rotate calc(var(--popTime) * 0.5) ease-out;
  transition-delay: calc(var(--popTime) * 0.5);
}
.orange::after, .apple::after {
  rotate: -90deg;
}
.orange[type=radio], .apple[type=radio] {
  rotate: var(--angle);
  scale: var(--scale);
  translate: var(--translateX) -60cqi;
  transition: opacity 200ms;
}
.orange[type=radio]:hover, .apple[type=radio]:hover {
  cursor: pointer;
}
#game:checked ~ .screen-game .orange[type=radio]:checked, #game:checked ~ .screen-game .apple[type=radio]:checked {
  --playState: paused;
  background-color: #fff;
  background-image: unset;
  box-shadow: unset;
  -webkit-mask: url("pop.svg") no-repeat center;
  mask: url("pop.svg") no-repeat center;
  -webkit-mask-size: contain;
  mask-size: contain;
  opacity: 0;
  transform: translateY(-25%);
}
#game:checked ~ .screen-game .orange[type=radio]:checked::before, #game:checked ~ .screen-game .orange[type=radio]:checked::after, #game:checked ~ .screen-game .apple[type=radio]:checked::before, #game:checked ~ .screen-game .apple[type=radio]:checked::after {
  animation: leafFall 3.5s var(--popTime) forwards ease-out;
  visibility: visible;
  opacity: 1;
}
#game:checked ~ .screen-game .orange[type=radio]:checked::before, #game:checked ~ .screen-game .apple[type=radio]:checked::before {
  --leafY: var(--beforeLeafY);
  --leafX: calc(-20% * 20);
}
#game:checked ~ .screen-game .orange[type=radio]:checked::after, #game:checked ~ .screen-game .apple[type=radio]:checked::after {
  --leafY: var(--afterLeafY);
  --leafX: calc(20% * 25);
}
@keyframes leafFall {
  10% {
    top: calc(-10% * var(--leafY));
    rotate: 360deg;
  }
  100% {
    top: 100cqi;
    left: var(--leafX);
    rotate: 720deg;
  }
}

.orange {
  background-image: radial-gradient(circle at top, var(--primary), var(--secondary-light), var(--secondary-dark));
  border-radius: 50%;
  inset: calc(-1 * var(--fruit-r));
}
.orange[type=radio]:nth-child(1) {
  --angle: -26deg;
  --delay: 3s;
  --scale: 0.82;
  --translateX: -1cqi;
  --beforeLeafX: 31;
  --beforeLeafY: 49;
  --afterLeafX: 47;
  --afterLeafY: 20;
}
.orange[type=radio]:nth-child(2) {
  --angle: 1deg;
  --delay: 4s;
  --scale: 0.842;
  --translateX: 20cqi;
  --beforeLeafX: 36;
  --beforeLeafY: 25;
  --afterLeafX: 27;
  --afterLeafY: 25;
}
.orange[type=radio]:nth-child(3) {
  --angle: 22deg;
  --delay: 5s;
  --scale: 0.914;
  --translateX: -28cqi;
  --beforeLeafX: 30;
  --beforeLeafY: 33;
  --afterLeafX: 37;
  --afterLeafY: 12;
}
.orange[type=radio]:nth-child(4) {
  --angle: -5deg;
  --delay: 6s;
  --scale: 0.912;
  --translateX: 31cqi;
  --beforeLeafX: 48;
  --beforeLeafY: 32;
  --afterLeafX: 35;
  --afterLeafY: 39;
}
.orange[type=radio]:nth-child(5) {
  --angle: 26deg;
  --delay: 7s;
  --scale: 0.868;
  --translateX: 38cqi;
  --beforeLeafX: 49;
  --beforeLeafY: 44;
  --afterLeafX: 21;
  --afterLeafY: 48;
}
.orange[type=radio]:nth-child(6) {
  --angle: -4deg;
  --delay: 8s;
  --scale: 0.992;
  --translateX: -19cqi;
  --beforeLeafX: 40;
  --beforeLeafY: 2;
  --afterLeafX: 41;
  --afterLeafY: 3;
}
.orange[type=radio]:nth-child(7) {
  --angle: -9deg;
  --delay: 9s;
  --scale: 0.816;
  --translateX: 39cqi;
  --beforeLeafX: 29;
  --beforeLeafY: 36;
  --afterLeafX: 34;
  --afterLeafY: 41;
}
.orange[type=radio]:nth-child(8) {
  --angle: -21deg;
  --delay: 10s;
  --scale: 0.988;
  --translateX: 40cqi;
  --beforeLeafX: 36;
  --beforeLeafY: 8;
  --afterLeafX: 31;
  --afterLeafY: 20;
}
.orange[type=radio]:nth-child(9) {
  --angle: 23deg;
  --delay: 11s;
  --scale: 0.91;
  --translateX: 16cqi;
  --beforeLeafX: 37;
  --beforeLeafY: 1;
  --afterLeafX: 38;
  --afterLeafY: 36;
}
.orange[type=radio]:nth-child(10) {
  --angle: 0deg;
  --delay: 12s;
  --scale: 0.91;
  --translateX: 24cqi;
  --beforeLeafX: 35;
  --beforeLeafY: 2;
  --afterLeafX: 29;
  --afterLeafY: 12;
}
.orange[type=radio]:nth-child(11) {
  --angle: 7deg;
  --delay: 13s;
  --scale: 0.942;
  --translateX: 27cqi;
  --beforeLeafX: 44;
  --beforeLeafY: 25;
  --afterLeafX: 24;
  --afterLeafY: 7;
}
.orange[type=radio]:nth-child(12) {
  --angle: -14deg;
  --delay: 14s;
  --scale: 0.884;
  --translateX: 35cqi;
  --beforeLeafX: 26;
  --beforeLeafY: 1;
  --afterLeafX: 48;
  --afterLeafY: 26;
}
.orange[type=radio]:nth-child(13) {
  --angle: 2deg;
  --delay: 15s;
  --scale: 0.908;
  --translateX: -29cqi;
  --beforeLeafX: 42;
  --beforeLeafY: 36;
  --afterLeafX: 33;
  --afterLeafY: 23;
}
.orange[type=radio]:nth-child(14) {
  --angle: 8deg;
  --delay: 16s;
  --scale: 0.876;
  --translateX: -33cqi;
  --beforeLeafX: 32;
  --beforeLeafY: 24;
  --afterLeafX: 28;
  --afterLeafY: 30;
}
.orange[type=radio]:nth-child(15) {
  --angle: -20deg;
  --delay: 17s;
  --scale: 0.918;
  --translateX: -18cqi;
  --beforeLeafX: 49;
  --beforeLeafY: 27;
  --afterLeafX: 26;
  --afterLeafY: 36;
}
.orange[type=radio]:nth-child(16) {
  --angle: 24deg;
  --delay: 18s;
  --scale: 0.942;
  --translateX: 13cqi;
  --beforeLeafX: 36;
  --beforeLeafY: 5;
  --afterLeafX: 50;
  --afterLeafY: 18;
}
.orange[type=radio]:nth-child(17) {
  --angle: 29deg;
  --delay: 19s;
  --scale: 0.864;
  --translateX: 9cqi;
  --beforeLeafX: 32;
  --beforeLeafY: 30;
  --afterLeafX: 21;
  --afterLeafY: 16;
}
.orange[type=radio]:nth-child(18) {
  --angle: 10deg;
  --delay: 20s;
  --scale: 0.846;
  --translateX: -4cqi;
  --beforeLeafX: 25;
  --beforeLeafY: 40;
  --afterLeafX: 38;
  --afterLeafY: 36;
}
.orange[type=radio]:nth-child(19) {
  --angle: 27deg;
  --delay: 21s;
  --scale: 0.934;
  --translateX: 24cqi;
  --beforeLeafX: 50;
  --beforeLeafY: 28;
  --afterLeafX: 27;
  --afterLeafY: 44;
}
.orange[type=radio]:nth-child(20) {
  --angle: -6deg;
  --delay: 22s;
  --scale: 0.958;
  --translateX: -6cqi;
  --beforeLeafX: 31;
  --beforeLeafY: 49;
  --afterLeafX: 43;
  --afterLeafY: 15;
}
.orange[type=radio]:nth-child(21) {
  --angle: -12deg;
  --delay: 23s;
  --scale: 0.81;
  --translateX: -38cqi;
  --beforeLeafX: 33;
  --beforeLeafY: 37;
  --afterLeafX: 47;
  --afterLeafY: 11;
}
.orange[type=radio]:nth-child(22) {
  --angle: 3deg;
  --delay: 24s;
  --scale: 0.992;
  --translateX: 2cqi;
  --beforeLeafX: 41;
  --beforeLeafY: 49;
  --afterLeafX: 34;
  --afterLeafY: 15;
}
.orange[type=radio]:nth-child(23) {
  --angle: 7deg;
  --delay: 25s;
  --scale: 0.822;
  --translateX: -22cqi;
  --beforeLeafX: 39;
  --beforeLeafY: 26;
  --afterLeafX: 22;
  --afterLeafY: 28;
}
.orange[type=radio]:nth-child(24) {
  --angle: -16deg;
  --delay: 26s;
  --scale: 1;
  --translateX: 23cqi;
  --beforeLeafX: 28;
  --beforeLeafY: 35;
  --afterLeafX: 21;
  --afterLeafY: 43;
}
.orange[type=radio]:nth-child(25) {
  --angle: 12deg;
  --delay: 27s;
  --scale: 0.928;
  --translateX: -32cqi;
  --beforeLeafX: 41;
  --beforeLeafY: 35;
  --afterLeafX: 37;
  --afterLeafY: 40;
}
.orange[type=radio]:nth-child(26) {
  --angle: 24deg;
  --delay: 28s;
  --scale: 0.948;
  --translateX: -35cqi;
  --beforeLeafX: 49;
  --beforeLeafY: 34;
  --afterLeafX: 37;
  --afterLeafY: 29;
}
.orange[type=radio]:nth-child(27) {
  --angle: -10deg;
  --delay: 29s;
  --scale: 0.826;
  --translateX: -39cqi;
  --beforeLeafX: 41;
  --beforeLeafY: 15;
  --afterLeafX: 33;
  --afterLeafY: 15;
}
.orange[type=radio]:nth-child(28) {
  --angle: 30deg;
  --delay: 30s;
  --scale: 0.97;
  --translateX: -34cqi;
  --beforeLeafX: 21;
  --beforeLeafY: 32;
  --afterLeafX: 41;
  --afterLeafY: 7;
}
.orange[type=radio]:nth-child(29) {
  --angle: 20deg;
  --delay: 31s;
  --scale: 0.916;
  --translateX: -34cqi;
  --beforeLeafX: 30;
  --beforeLeafY: 50;
  --afterLeafX: 48;
  --afterLeafY: 36;
}
.orange[type=radio]:nth-child(30) {
  --angle: -8deg;
  --delay: 32s;
  --scale: 0.85;
  --translateX: 38cqi;
  --beforeLeafX: 22;
  --beforeLeafY: 4;
  --afterLeafX: 32;
  --afterLeafY: 35;
}
.orange[type=radio]:nth-child(31) {
  --angle: -25deg;
  --delay: 33s;
  --scale: 0.936;
  --translateX: 7cqi;
  --beforeLeafX: 22;
  --beforeLeafY: 1;
  --afterLeafX: 23;
  --afterLeafY: 17;
}
.orange[type=radio]:nth-child(32) {
  --angle: 28deg;
  --delay: 34s;
  --scale: 0.858;
  --translateX: 24cqi;
  --beforeLeafX: 42;
  --beforeLeafY: 2;
  --afterLeafX: 24;
  --afterLeafY: 15;
}
.orange[type=radio]:nth-child(33) {
  --angle: -24deg;
  --delay: 35s;
  --scale: 0.868;
  --translateX: -5cqi;
  --beforeLeafX: 43;
  --beforeLeafY: 24;
  --afterLeafX: 44;
  --afterLeafY: 16;
}
.orange[type=radio]:nth-child(34) {
  --angle: 7deg;
  --delay: 36s;
  --scale: 0.916;
  --translateX: 22cqi;
  --beforeLeafX: 32;
  --beforeLeafY: 45;
  --afterLeafX: 47;
  --afterLeafY: 39;
}
.orange[type=radio]:nth-child(35) {
  --angle: 27deg;
  --delay: 37s;
  --scale: 0.836;
  --translateX: 29cqi;
  --beforeLeafX: 31;
  --beforeLeafY: 43;
  --afterLeafX: 49;
  --afterLeafY: 30;
}
.orange:checked {
  counter-increment: score oranges;
}

.apple {
  background-image: radial-gradient(circle at top, var(--tertiary), var(--tertiary-dark));
  border-radius: 52% 48% 48% 52%/28% 31% 69% 72%;
  inset: -5cqi;
}
.apple[type=radio]:nth-child(1) {
  --angle: -29deg;
  --delay: 4.25s;
  --scale: 0.844;
  --translateX: -36cqi;
  --beforeLeafX: 25;
  --beforeLeafY: 35;
  --afterLeafX: 26;
  --afterLeafY: 33;
}
.apple[type=radio]:nth-child(2) {
  --angle: -29deg;
  --delay: 5.5s;
  --scale: 0.996;
  --translateX: -2cqi;
  --beforeLeafX: 41;
  --beforeLeafY: 8;
  --afterLeafX: 30;
  --afterLeafY: 22;
}
.apple[type=radio]:nth-child(3) {
  --angle: 2deg;
  --delay: 6.75s;
  --scale: 0.874;
  --translateX: -3cqi;
  --beforeLeafX: 25;
  --beforeLeafY: 4;
  --afterLeafX: 23;
  --afterLeafY: 31;
}
.apple[type=radio]:nth-child(4) {
  --angle: -20deg;
  --delay: 8s;
  --scale: 0.97;
  --translateX: -3cqi;
  --beforeLeafX: 37;
  --beforeLeafY: 28;
  --afterLeafX: 42;
  --afterLeafY: 31;
}
.apple[type=radio]:nth-child(5) {
  --angle: -18deg;
  --delay: 9.25s;
  --scale: 0.836;
  --translateX: 1cqi;
  --beforeLeafX: 32;
  --beforeLeafY: 38;
  --afterLeafX: 24;
  --afterLeafY: 35;
}
.apple[type=radio]:nth-child(6) {
  --angle: -10deg;
  --delay: 10.5s;
  --scale: 0.864;
  --translateX: -23cqi;
  --beforeLeafX: 35;
  --beforeLeafY: 42;
  --afterLeafX: 29;
  --afterLeafY: 2;
}
.apple[type=radio]:nth-child(7) {
  --angle: 27deg;
  --delay: 11.75s;
  --scale: 0.92;
  --translateX: -7cqi;
  --beforeLeafX: 24;
  --beforeLeafY: 14;
  --afterLeafX: 22;
  --afterLeafY: 9;
}
.apple[type=radio]:nth-child(8) {
  --angle: -9deg;
  --delay: 13s;
  --scale: 0.846;
  --translateX: 12cqi;
  --beforeLeafX: 39;
  --beforeLeafY: 32;
  --afterLeafX: 32;
  --afterLeafY: 40;
}
.apple[type=radio]:nth-child(9) {
  --angle: -11deg;
  --delay: 14.25s;
  --scale: 0.934;
  --translateX: 12cqi;
  --beforeLeafX: 27;
  --beforeLeafY: 30;
  --afterLeafX: 22;
  --afterLeafY: 43;
}
.apple[type=radio]:nth-child(10) {
  --angle: 13deg;
  --delay: 15.5s;
  --scale: 0.858;
  --translateX: 7cqi;
  --beforeLeafX: 35;
  --beforeLeafY: 35;
  --afterLeafX: 39;
  --afterLeafY: 19;
}
.apple[type=radio]:nth-child(11) {
  --angle: 30deg;
  --delay: 16.75s;
  --scale: 0.822;
  --translateX: -37cqi;
  --beforeLeafX: 28;
  --beforeLeafY: 47;
  --afterLeafX: 39;
  --afterLeafY: 6;
}
.apple[type=radio]:nth-child(12) {
  --angle: -20deg;
  --delay: 18s;
  --scale: 0.85;
  --translateX: -35cqi;
  --beforeLeafX: 47;
  --beforeLeafY: 3;
  --afterLeafX: 34;
  --afterLeafY: 28;
}
.apple[type=radio]:nth-child(13) {
  --angle: 15deg;
  --delay: 19.25s;
  --scale: 0.838;
  --translateX: -12cqi;
  --beforeLeafX: 50;
  --beforeLeafY: 21;
  --afterLeafX: 32;
  --afterLeafY: 5;
}
.apple[type=radio]:nth-child(14) {
  --angle: -2deg;
  --delay: 20.5s;
  --scale: 0.884;
  --translateX: 3cqi;
  --beforeLeafX: 47;
  --beforeLeafY: 2;
  --afterLeafX: 31;
  --afterLeafY: 19;
}
.apple[type=radio]:nth-child(15) {
  --angle: 9deg;
  --delay: 21.75s;
  --scale: 0.984;
  --translateX: -14cqi;
  --beforeLeafX: 27;
  --beforeLeafY: 4;
  --afterLeafX: 48;
  --afterLeafY: 4;
}
.apple[type=radio]:nth-child(16) {
  --angle: -26deg;
  --delay: 23s;
  --scale: 0.936;
  --translateX: 33cqi;
  --beforeLeafX: 39;
  --beforeLeafY: 44;
  --afterLeafX: 49;
  --afterLeafY: 14;
}
.apple[type=radio]:nth-child(17) {
  --angle: 1deg;
  --delay: 24.25s;
  --scale: 0.976;
  --translateX: -19cqi;
  --beforeLeafX: 32;
  --beforeLeafY: 9;
  --afterLeafX: 43;
  --afterLeafY: 29;
}
.apple[type=radio]:nth-child(18) {
  --angle: 12deg;
  --delay: 25.5s;
  --scale: 0.998;
  --translateX: -7cqi;
  --beforeLeafX: 27;
  --beforeLeafY: 43;
  --afterLeafX: 49;
  --afterLeafY: 12;
}
.apple[type=radio]:nth-child(19) {
  --angle: -7deg;
  --delay: 26.75s;
  --scale: 0.812;
  --translateX: -36cqi;
  --beforeLeafX: 35;
  --beforeLeafY: 25;
  --afterLeafX: 30;
  --afterLeafY: 21;
}
.apple[type=radio]:nth-child(20) {
  --angle: -5deg;
  --delay: 28s;
  --scale: 0.944;
  --translateX: -32cqi;
  --beforeLeafX: 40;
  --beforeLeafY: 42;
  --afterLeafX: 21;
  --afterLeafY: 42;
}
.apple:checked {
  counter-increment: score -2 apples;
}

.gui {
  bottom: 0;
  display: flex;
  font-size: var(--fz-l);
  justify-content: space-between;
  padding: 1cqi 3cqi;
  pointer-events: none;
  position: absolute;
  text-shadow: var(--text-shadow);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 100%;
}

.timer span::before {
  content: "2";
}
.timer span::after {
  content: "6";
}
@keyframes countdown {
  0% {
    content: "9";
  }
  10% {
    content: "8";
  }
  20% {
    content: "7";
  }
  30% {
    content: "6";
  }
  40% {
    content: "5";
  }
  50% {
    content: "4";
  }
  60% {
    content: "3";
  }
  70% {
    content: "2";
  }
  80% {
    content: "1";
  }
  90% {
    content: "0";
  }
}

.score::after {
  content: counter(score);
}/*# sourceMappingURL=style.css.map */